
@import url('../css/fonts.css');
html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{

    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light : #862424da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /* gradient color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /*      theme font-family   */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin : 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive;
}


/* ---------------- Nav---------------*/

a{
    text-decoration: none;
    color: var(--text-gray);
}p{
    font-family: var(--Lexend);
    color: var(--text-light);
}span{
    font-family: var(--Abel);

}.text-gray{
    color: var(--text-gray);
}

.flex-row{
    display: flex;
    flex-direction: row;    
 
        /* it use when case screen zoom out 
        25:12 */
}ul{
    list-style-type: none;
}

h1{
    font-family: var(--Lexend);
    font-size: 2.5rem;
}h2{
    font-family: var(--Lexend);
}h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}.container{
    margin: 0 5vw;
}

/* ------x------- Global Classes -------x-------*/
/* ------x------- Nav-------x-------*/
.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    /* use for screen small */
    /* min-height convertation height div */
    min-height: 9.9vh;
    overflow: hidden;
    /* add animation when show list nav */
    transition: height 1s ease-in-out;
}
.nav .nav-menu{    
    justify-content: space-between;
}
.nav .nav-brand a{
    font-size: 1.6rem;
    font-family: var(--Lexend);
    padding: 1rem 0;
    display: block;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}
.nav .nav-items .nav-link{
    /* still apply attribute for li in display:flex; */
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;

}

.nav .social i {
    padding: 1.6em 0.8rem;
}

.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
    
}
.nav .nav-items .nav-link:hover a{
    color: var(--white);
}
.nav .social i:hover{
    color: #a1c4cf;
}

.collapse{
/* use when screen small 775px */
    height:35rem;
}

.nav .toggle-collapse{
/* use case collaps screen */

    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
        /* case screen > 750 */
}
.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding-top: 1.8rem;

}
/* ------x------- Nav-------x-------*/

/* ------x------- Main-------x-------*/
main .site-title{
    /* because of tag section SO divide div exactly */
    background: url('../assets/Background-image.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
   
}
main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}
main .site-title h1,h3{
    /* do space between h1,h3 zoom out */
    margin: .4rem;
}


main .blog{
    background: url('../assets/Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
    margin-bottom: 200px;
}

main .blog .blog-post{
    padding-top: 10rem;
}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    height: 500px;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    /* $('.owl-carousel').owlCarousel(); 
    item format exactly, item zoom out */
}
main .blog-post .blog-content img{
    height:250px;
}
main .blog-post .blog-content button{
    background-image: var(--sky);
}
main .blog-post .blog-content span{
    display: block;
}

main .blog-post .blog-content h3,button,span{
    margin-top: 20px;
} 

/* format owl-carousel */
section .container .owl-nav span{
    display: inline-block;
    color: var(--text-gray);
    background: transparent;
    font-size: 3rem;
    margin-right: 40px;

}
section .container .owl-nav{
    position: absolute;
    top:5rem;
    width:100%;
    display: flex;
    justify-content: center;  
}
/* ------x------- blog post-------x-------*/
main .site-content{
    display: grid;
    grid-template-columns: 70% 30%;
}

main .post-content{
    width: 100%; 
    margin-bottom: 1rem;
}

main .site-content .post-content > .post-image, .post-title{
/* select div -> child element inhert. */
    padding: 1rem 2rem;
    position: relative;
}
main .site-content .post-content > .post-image .post-info{
/* select exactly post-info */
    background: var(--sky);
    padding: 1rem;
    border-radius: 3rem;
    position: absolute;
    bottom: 0%;
    left:30%;
}
main .site-content .post-content > .post-title a{
    font-weight: 600;
    font-size: 1.5rem;
}
main .site-content .post-content > .post-image .post-info span{
    padding-right: .6rem;
}

main .post-content .post-image img {
    width: 100%;
    transition: all 1s ease;
}
main .site-content .post-content > .post-image .img:hover{
    transform: scale(1.2);
}main .site-content .post-content > .post-image > div{
    /* format for image not overfloat in div */
    overflow: hidden;
}
.site-content .pagination{
    justify-content: center;
    color: var(--text-gray);
    margin: 4rem 0;
}
.site-content .pagination a{
    padding: .6rem .9rem;
    border-radius: 50%;
    margin: 0 .3rem;
    font-family: 'Times New Roman', 'Times', 'serif';
}

.site-content .pagination .pages{
    background: var(--text-gray);
    color: var(--white);
}

/* category */

.site-content > .sidebar .category-list{
    font-family: var(--Livvic);   
    margin: 2rem 0 8rem 0;
}
/* .site-content > .sidebar .category-list .list-items a{
    i think span is kind inline -> display flex not app function to span 
    but i try change kind span -> block but everything is still the same
    display: inline;
} */
.site-content > .sidebar .category-list .list-items{
    background: var(--sky);
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius: 3rem;
    width: 70%; 
    display: flex;
    justify-content: space-between;
  
}


.site-content > .sidebar .category-list .list-items a{
    color:  black;
}
/* ------x------- popular post-------x-------*/
.site-content .sidebar .popular-post .post-info{
    padding: 0rem 0.2rem !important;
    display: inline;
    right:0;
    top:10rem;
    bottom: 0rem !important;
    margin: 0 auto !important;
    border-radius: 0rem !important;
    background: white !important;
    color: black;
    
}
.site-content .sidebar .post-content >  .post-title{
    padding: 0rem 2rem 2rem 2rem !important;
}
/* ------x------- news letters -------x-------*/
.sidebar > .newsletter .form-element{
    width: 80%;
    display: block;
    box-sizing: border-box;
    
}
.sidebar > .newsletter .input-element{
    width: 97%;
    height: 3rem;
    margin: .5rem 3rem;

}
.sidebar > .newsletter  .form-btn{
    width: 100%;
    height: 3rem;
    margin: .5rem 3rem;
    background: var(--sky);
    font-size: 1.3rem;
    border: none;
    
}



/* ------x------- popular tag-------x-------*/
.sidebar > .popular-tags .tags{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sidebar > .popular-tags .tag{
    background: var(--sky);
    padding: .8rem 1.5rem;
    margin: 1rem;
    border-radius: 3rem;
}
/* ------x------- Main-------x-------*/

/* ------x------- Footer-------x-------*/
footer.footer{
    height: 100%;
    background: var(--bg-color);
    position: relative;
}

footer.footer .container{
    display: grid;
    grid-template-columns: 30% repeat(3, 1fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: white;
    font-size: xx-large;
}footer.footer .container p{
    font-size: larger;
}

footer.footer .newsletter .form-element{
  width: 100%;
  height: 0rem;
  /* remove space redundancy */
  background: white;
  
}

footer.footer .newsletter .form-element input{
    /* width: 100%; */
    height: .5rem;
    padding: 0.9rem;
}

footer.footer .newsletter .form-element span{
 background: var(--sky);
 padding: .4rem .8rem;
}

footer.footer .instagram div > img{
    width: 5rem;
    height: 5rem;
    margin: .2rem;
}

footer.footer .follow div i{
    font-size: 1.6rem;
    padding: 0 .6rem;
    color: white;    
}

footer.footer .rights{
display: flex;
justify-content: center;
}

footer.footer .rights h4 a{
  color: white;
  font-size: 1.2rem;
}

footer.footer .move-up{
 position: absolute;
 right: 6rem;
 top:50%;
 
}

footer.footer .move-up span{
    color: teal;
    transition: all 1s ease;
}

footer.footer .move-up span:hover{
   color: white;
   opacity: .8;
   cursor:pointer;
}
footer.footer .follow div i:hover{
    
    opacity: .7;
}

/* ------x------- Footer-------x-------*/


/* ------x------- <1130-------x-------*/
@media only screen and (max-width:1130px) {
    .site-content .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 1rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }

    footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    }
}
/* ------x------- <1130-------x-------*/
/* ------x------- <750-------x-------*/
@media only screen and (max-width:775px) {
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }
    .nav .toggle-collapse{
        display: initial;
    }
     main .site-content{
        grid-template-columns: 100%;
    }
    footer.footer .move-up{ 
        right: 3rem;
        top:45%;
    }

}
/* ------x------- <750-------x-------*/
/* ------x------- <520-------x-------*/
@media only screen and (max-width: 520px){
    main .blog{
        height: 125vh;
    }

    .site-content .post-content > .post-image .post-info{
        display: none;
    }

    footer.footer .container > div{
        padding:  1rem .9rem !important;
    }

    footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .toggle-collapse{
        width: 80% !important;
    }
    footer.footer .container{
        grid-template-columns: repeat(1, 1fr);
    }
    footer.footer .move-up{ 
        right: 3rem;
        bottom: 5%;
    }

}

/* ------x------- <520-------x-------*/
/* ------x------- Nav-------x-------*/
/* ------x------- Nav-------x-------*/